*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
20201.12.30 BluetoothConnect devices.jmp
20201.12.30 BluetoothConnect edited.xlsx
20201.12.30 BluetoothConnect.jmp
20201.12.30 BluetoothConnect.txt
~$20201.12.30 BluetoothConnect edited.xlsx
